body { background-image: url(images/background.jpg); background-repeat: no-repeat;   }
.main {color: coral;}
nav a:link {
            color:cornsilk;
        }
        nav a:visited {
            color:burlywood;
        }
        nav a:hover {
            color:coral;
            transition: 2s color ease-out;
        }
        nav ul {
            list-style-type: none;}
footer{
    text-align: center;
    color: black;
}
footer ul li{
    display: inline-block;}





 @media only screen and (max-width: 480px) {
     .main {color:aliceblue; font-size: 75%; }
   
     .paragr {font-size: 75%;}
 }